In [1]:
import pandas as pd

In [2]:
df_history = pd.read_csv("./history_thalia.csv")
df_transactions = pd.read_csv("./transactions_thalia.csv")

In [3]:
df_history.head()

,mandator,id,iid,attrtype,akey,text,creation
0,100000490,229290396,158765280,NO,228640692,|msg=SM: GRM Brainfuck 10.03.2022|userAgent=Mo...,20220310003719
1,100000490,253252597,116420444,NO,251138913,|msg=NL_April_3_2022|userAgent=unknown (unknow...,20220429233416
2,100000490,229290395,100419635,NO,228640692,|msg=SM: GRM Brainfuck 10.03.2022|userAgent=Mo...,20220310003633
3,100000490,134052774,100397101,NO,118007425,|msg=NL_Mai_1_2021|userAgent=Chrome Mobile 91....,20210719040049
4,100000490,229290240,100273782,NO,228640692,|msg=SM: GRM Brainfuck 10.03.2022|userAgent=un...,20220310001302

In [4]:
df_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5270332 entries, 0 to 5270331
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   mandator  int64
 1   id        int64
 2   iid       int64
 3   attrtype  object
 4   akey      int64
 5   text      object
 6   creation  int64
dtypes: int64(5), object(2)
memory usage: 281.5+ MB

In [5]:
df_history.describe()

          mandator            id           iid          akey      creation
count    5270332.0  5.270332e+06  5.270332e+06  5.270332e+06  5.270332e+06
mean   100000490.0  1.867110e+08  1.097040e+08  1.842516e+08  2.021336e+13
std            0.0  6.842917e+07  2.853748e+07  6.833484e+07  7.602643e+09
min    100000490.0  1.000017e+08  1.000017e+08  1.000017e+08  2.020040e+13
25%    100000490.0  1.178111e+08  1.002774e+08  1.177444e+08  2.021032e+13
50%    100000490.0  1.587603e+08  1.009612e+08  1.584336e+08  2.021112e+13
75%    100000490.0  2.626826e+08  1.072328e+08  2.613211e+08  2.022070e+13
max    100000490.0  2.881898e+08  2.881328e+08  2.874435e+08  2.022120e+13

In [6]:
df_history["attrtype"].value_counts()

HY    2526272
NO    2447558
NC     233327
SB      46933
HB      16205
SC         37
Name: attrtype, dtype: int64

In [7]:
df_history['creation'] = pd.to_datetime(df_history['creation'], format='%Y%m%d%H%M%S')
df_history.head()

,mandator,id,iid,attrtype,akey,text,creation
0,100000490,229290396,158765280,NO,228640692,|msg=SM: GRM Brainfuck 10.03.2022|userAgent=Mo...,2022-03-10 00:37:19
1,100000490,253252597,116420444,NO,251138913,|msg=NL_April_3_2022|userAgent=unknown (unknow...,2022-04-29 23:34:16
2,100000490,229290395,100419635,NO,228640692,|msg=SM: GRM Brainfuck 10.03.2022|userAgent=Mo...,2022-03-10 00:36:33
3,100000490,134052774,100397101,NO,118007425,|msg=NL_Mai_1_2021|userAgent=Chrome Mobile 91....,2021-07-19 04:00:49
4,100000490,229290240,100273782,NO,228640692,|msg=SM: GRM Brainfuck 10.03.2022|userAgent=un...,2022-03-10 00:13:02

In [8]:
df_history['text'].head()

0    |msg=SM: GRM Brainfuck 10.03.2022|userAgent=Mo...
1    |msg=NL_April_3_2022|userAgent=unknown (unknow...
2    |msg=SM: GRM Brainfuck 10.03.2022|userAgent=Mo...
3    |msg=NL_Mai_1_2021|userAgent=Chrome Mobile 91....
4    |msg=SM: GRM Brainfuck 10.03.2022|userAgent=un...
Name: text, dtype: object

In [9]:
pd.options.display.max_colwidth = 300
print(df_history['text'])

0                                                                                                                     |msg=SM: GRM Brainfuck 10.03.2022|userAgent=Mobile Safari (iOS / Smartphone)|hidden=true|ip=80.215.154.40|userLanguage=fr|
1                                                                                                                              |msg=NL_April_3_2022|userAgent=unknown (unknown / Personal computer)|hidden=true|ip=104.28.62.24|userLanguage=de|
2                                                                                                                        |msg=SM: GRM Brainfuck 10.03.2022|userAgent=Mobile Safari (iOS / Tablet)|hidden=true|ip=80.133.228.107|userLanguage=de|
3                                                                                                                           |msg=NL_Mai_1_2021|userAgent=Chrome Mobile 91.0 (Android / Smartphone)|hidden=true|ip=217.88.57.126|userLanguage=de|
4                                                                                                                |msg=SM: GRM Brainfuck 10.03.2022|userAgent=unknown (unknown / Personal computer)|hidden=true|ip=104.28.135.80|userLanguage=de|
                                                                                                                           ...
5270327                                                                 |msg=https://www.thalia-theater.de/beitraege/760?noparam=true|hidden=true|ip=77.10.113.222|profileIds=|userAgent=Chrome 96.0 (OS X / Personal computer)|userLanguage=de|
5270328                                                                                                          |msg=SM: Pippi Langstrumpf 24.10.2021|userAgent=Mobile Safari (iOS / Smartphone)|hidden=true|ip=93.229.120.100|userLanguage=de|
5270329                                                                                                                     |msg=NL_Februar_2_2022|userAgent=unknown (unknown / Personal computer)|hidden=true|ip=104.28.129.17|userLanguage=de|
5270330    |msg=https://tickets.rzsthh.de/Thaliatheater/SelectSeats?ret=1&e=11673&lang=de&play=das-mangelnde-licht-2021&noparam=true|hidden=true|ip=80.133.234.253|profileIds=|userAgent=Safari 15.3 (OS X / Personal computer)|userLanguage=de|
5270331                                          |msg=https://www.thalia-theater.de/stueck/thalia-vista-social-club-2009?noparam=true|hidden=true|ip=93.206.80.254|profileIds=|userAgent=Safari 14.1 (OS X / Personal computer)|userLanguage=de|
Name: text, Length: 5270332, dtype: object

In [10]:
def toDict(first_row, x):
    row = x["text"]
    row = row.split("|")[1:-1]
    dict_row = {}
    for i in row:
        key = i.split("=")[0]
        value = i.split("=")[1]
        dict_row[key] = value
    first_row["msg"] = dict_row["msg"]
    return first_row

In [11]:
#first_row = pd.DataFrame(df_history.iloc[0:1])
#df = df_history
#row_split = first_row["text"].str.split('|')[0][1:-1]
#first_row = first_row.apply(lambda x: toDict(first_row, x), axis=1)
#row_split = first_row.split("|")[1:-1]
#first_row["msg"]

In [12]:
pd.options.display.max_colwidth = 300
print(df_history['text'].tail(10))

5270322                                                                                       |msg=SM: Pippi Langstrumpf 17.10.2021|userAgent=Apple Mail (OS X 10.10 Yosemite / Personal computer)|hidden=true|ip=80.137.82.130|userLanguage=de|
5270323                                                                                                             |msg=SM: Pippi Langstrumpf 24.10.2021|userAgent=Mobile Safari (iOS / Smartphone)|hidden=true|ip=91.12.36.66|userLanguage=de|
5270324                                                                                                          |msg=SM: Pippi Langstrumpf 24.10.2021|userAgent=Mobile Safari (iOS / Smartphone)|hidden=true|ip=46.114.168.149|userLanguage=de|
5270325                                                                                                                |msg=NL_Februar_2_2022|userAgent=Chrome 98.0 (Windows / Personal computer)|hidden=true|ip=90.186.175.206|userLanguage=de|
5270326                                                                                                                    |msg=NL_Februar_2_2022|userAgent=Apple Mail (OS X / Personal computer)|hidden=true|ip=87.146.249.160|userLanguage=de|
5270327                                                                 |msg=https://www.thalia-theater.de/beitraege/760?noparam=true|hidden=true|ip=77.10.113.222|profileIds=|userAgent=Chrome 96.0 (OS X / Personal computer)|userLanguage=de|
5270328                                                                                                          |msg=SM: Pippi Langstrumpf 24.10.2021|userAgent=Mobile Safari (iOS / Smartphone)|hidden=true|ip=93.229.120.100|userLanguage=de|
5270329                                                                                                                     |msg=NL_Februar_2_2022|userAgent=unknown (unknown / Personal computer)|hidden=true|ip=104.28.129.17|userLanguage=de|
5270330    |msg=https://tickets.rzsthh.de/Thaliatheater/SelectSeats?ret=1&e=11673&lang=de&play=das-mangelnde-licht-2021&noparam=true|hidden=true|ip=80.133.234.253|profileIds=|userAgent=Safari 15.3 (OS X / Personal computer)|userLanguage=de|
5270331                                          |msg=https://www.thalia-theater.de/stueck/thalia-vista-social-club-2009?noparam=true|hidden=true|ip=93.206.80.254|profileIds=|userAgent=Safari 14.1 (OS X / Personal computer)|userLanguage=de|
Name: text, dtype: object