In [6]:
from scipy.stats import nbinom, binom, poisson
from statsmodels.discrete.count_model import ZeroInflatedNegativeBinomialP
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import math
import seaborn as sns
from datetime import datetime, timedelta
from scipy.stats import pearsonr
from scipy.stats import kendalltau
from scipy.stats import spearmanr
import os
from scipy.optimize import minimize, Bounds
import inspect
import statsmodels.api as sm
import scipy.stats as stats
import scipy.optimize as opt

In [2]:
path = x
filename = 'Pivot_Trans_Privat_ohneApple_Langzeitkunde.csv'

df_trans_werte = pd.read_csv(os.path.join(path, filename))

In [4]:
df_trans_werte.head()

,iid,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,100056041,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,100057957,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
2,100059553,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100062565,4.0,0.0,1.0,3.0,2.0,1.0,1.0,2.0,1.0,1.0,0.0,1.0,2.0,3.0,0.0
4,100062713,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# Annahme: df_trans_werte ist der DataFrame, der die Spalte "1" enthält

# Extrahiere die Spalte "1" als abhängige Variable 'y'
y = df_trans_werte['2'].values

def zinb_pmf(y, pi, r, p):
    nb_pmf = stats.nbinom.pmf(y, r, p)
    zi_pmf = np.where(y == 0, pi, 1 - pi)
    return nb_pmf * zi_pmf

def zinb_log_likelihood(params, y):
    pi, r, p = params
    loglik = np.sum(np.log(zinb_pmf(y, pi, r, p)))
    return -loglik

initial_params = np.array([0.5, 1, 0.5])

result = opt.minimize(zinb_log_likelihood, initial_params, args=(y,))
estimated_params = result.x

print("Estimated Parameters:")
print("pi =", estimated_params[0])
print("r =", estimated_params[1])
print("p =", estimated_params[2])

Estimated Parameters:
pi = 644.8571357340866
r = -246.27827727564815
p = 770.7660013372988

In [14]:
estimated_params

array([  900.5801375 , 11445.87502968,  2292.97080129])