In [1]:
import pandas as pd

In [2]:
df_history = pd.read_csv("./history_thalia.csv")
df_transactions = pd.read_csv("./transactions_thalia.csv")

In [3]:
df_transactions_t = df_transactions

In [4]:
df_transactions_t.head()

,mandator,id,iid,attrtype,key,itemkey,status,productid,productname,modifiedprovider,createdprovider,startdate,quantity,discountname,saleschannelname,price,discountgroup,discountamount,pricetotal
0,100000490,121212221,101850880,TI,JET_1_a390747,JET_1_a390747_1_31_0,Buchung,JET_1_1183,Geisterritter,20130830104643,20130830104643,2.013121e+13,1.0,Schulgruppe Saison 10/11,UT_Abo,10.0,Ermäßigungen Fixpreis,2.1,7.9
1,100000490,121212218,101850880,TI,JET_1_a390747,JET_1_a390747_1_25_0,Buchung,JET_1_1183,Geisterritter,20130830104643,20130830104643,2.013121e+13,1.0,Schulgruppe Saison 10/11,UT_Abo,10.0,Ermäßigungen Fixpreis,2.1,7.9
2,100000490,121212213,101850880,TI,JET_1_a390747,JET_1_a390747_1_24_0,Buchung,JET_1_1183,Geisterritter,20130830104643,20130830104643,2.013121e+13,1.0,Schulgruppe Saison 10/11,UT_Abo,10.0,Ermäßigungen Fixpreis,2.1,7.9
3,100000490,121266546,100817681,TI,JET_1_a416011,JET_1_a416011_2_49_0,Buchung,JET_1_1370,Eva Hesse/ Gego: Lebens-Linien,20131113083428,20131113083428,2.014020e+13,1.0,Jugendkarte,UT,15.0,Jugend / Sozialkarte,6.0,9.0
4,100000490,121266547,100817681,TI,JET_1_a416011,JET_1_a416011_2_34_0,Buchung,JET_1_1370,Eva Hesse/ Gego: Lebens-Linien,20131113083428,20131113083428,2.014020e+13,1.0,NaN,UT,15.0,NaN,1.0,14.0

In [5]:
df_transactions_t["itemkey"].head()

0    JET_1_a390747_1_31_0
1    JET_1_a390747_1_25_0
2    JET_1_a390747_1_24_0
3    JET_1_a416011_2_49_0
4    JET_1_a416011_2_34_0
Name: itemkey, dtype: object

In [6]:
df_transactions_t["itemkey"].nunique()

2354094

In [7]:
df_transactions_t["itemkey"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3104695 entries, 0 to 3104694
Series name: itemkey
Non-Null Count    Dtype
--------------    -----
2357081 non-null  object
dtypes: object(1)
memory usage: 23.7+ MB

In [8]:
df_transactions_t["status"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3104695 entries, 0 to 3104694
Series name: status
Non-Null Count    Dtype
--------------    -----
3102420 non-null  object
dtypes: object(1)
memory usage: 23.7+ MB

In [9]:
df_transactions_t["status"].value_counts()

Buchung         2860005
Order            125196
cancelled         87997
Reservierung      18503
Reservation       10719
Name: status, dtype: int64

In [10]:
df_transactions_t["productname"].value_counts()

Thalia Vista Social Club              43597
Die unendliche Geschichte             40226
Die Dreigroschenoper                  37531
Moby Dick                             32646
Die Tragödie von Romeo und Julia      28399
                                      ...
Lehrer-Fortbildung "Erzähltheater"        1
Bachmann - Celan                          1
Ins Spiel kommen mit Deutschstunde        1
Der Name                                  1
TP: Bitte Lächeln!                        1
Name: productname, Length: 1702, dtype: int64

In [11]:
df_transactions_t["attrtype"].value_counts()

TI    2357081
OR     740735
RV       5001
         1878
Name: attrtype, dtype: int64

In [12]:
df_transactions_t["attrtype"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3104695 entries, 0 to 3104694
Series name: attrtype
Non-Null Count    Dtype
--------------    -----
3104695 non-null  object
dtypes: object(1)
memory usage: 23.7+ MB

In [13]:
df_transactions_t["saleschannelname"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3104695 entries, 0 to 3104694
Series name: saleschannelname
Non-Null Count    Dtype
--------------    -----
2353031 non-null  object
dtypes: object(1)
memory usage: 23.7+ MB

In [14]:
df_transactions_t["saleschannelname"].value_counts()

UT_Abo     765767
Gateway    653922
Kasse      438878
Admin      367139
UT         118646
VVK          6302
HHT          1037
UT_MARK       968
UT_Uni        370
UT_Buch         2
Name: saleschannelname, dtype: int64